* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
  }
  
  .container-fluid{
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 20px;
  }
  
  header{
      display: flex;
      flex-direction: column;
      gap: 10px;
  }
  
  header .header-1{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
  
  header .header-2{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      gap: 10px;
  }
  
  .form-group_2 {
      position: relative;
      width: 250px; 
  }
  
  .form-group_2 input {
      width: 100%;
      padding-right: 35px;
  }
  
  .form-group_2 i {
      position: absolute;
      top: 5px;
      right: 10px;
      color: gray; 
      cursor: pointer;
  }
  
  .status {
      display: inline-flex;
      align-items: center;
      padding: 8px 12px;
      border-radius: 30px;
      font-weight: bold;
      font-size: 14px;
  }
  
  .dot {
      width: 10px;
      height: 10px;
      border-radius: 70%;
      margin-right: 8px;
  }
  
  .active {
      background-color: #e6f7e6;
      color: #217a17;
  }
  
  .active .dot {
      background-color: #27ae60;
  }
  
  .inactive {
      background-color: #fde8e8;
      color: #a82424;
  }
  
  .inactive .dot {
      background-color: #e74c3c;
  }
  
  #deleteButton{
      color: red;
      font-size: 20px;
  }
  
  #deleteButton:hover{
      cursor: pointer;
      color: rgb(163, 0, 0);
  }
  
  #editButton{
      color: rgb(182, 182, 0);
      font-size: 20px;
  }
  
  #editButton:hover{
      cursor: pointer;
      color: rgb(92, 92, 0);
  }
  
  .popUp{
      width: 40%;
      padding: 20px;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1050;
      background-color: #fff;
      border-radius: 8px; 
  }
  
  .popUp form .form-group p{
      color: red;
      display: none;
  }
  
  .popUp .header{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
  }
  
  .popUp .body form{
      display: flex;
      flex-direction: column;
      gap: 20px;
  }
  
  .popUp .body form .diven{
      border: 1px solid rgba(0, 0, 0, 0.35);
  }
  
  .popUp .body form .footer{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      gap: 20px;
  }
  
  .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 1040;
  }